<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>添加用户界面</title>
</head>
<body>
<h3>输入信息</h3>
<div th:text="${mes}" style="color: red"></div>
<form action="/user/add" method="post">
    <table>
        <tr>
            <td>学工号：</td>
            <td><input type="text" name="xuehao"></td>
        </tr>
        <tr>
            <td>姓名：</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>证明材料：</td>
            <td>
                <input type="file" id="chooseImage" name="file">
            </td>
        </tr>
        <tr>
            <td>
                <!-- 保存用户自定义的背景图片 -->
                <img id="cropedBigImg" value='custom' alt="lorem ipsum dolor sit" data-address='' title="自定义背景" style="height: 200px;width: 100px;" />
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="登录"></td>
            <td><input type="reset" value="清空"></td>
        </tr>
    </table>
</form>
<script src="/js/jquery.js"></script>
<script src="/js/one.js"></script>
</body>
</html>